/node_modules
/public/hot
/public/storage
/public/images
/public/js
/public/css
/storage/*.key
/public/img/*
/vendor
.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
