$primary-color: #1c67b6;
$primary-hover-color: #004288;
$primary-active-color: #004288;

$success-color: #009e0f;
$success-hover-color: #00840c;
$success-active-color: #00840c;

$danger-color: #cc4242;
$danger-hover-color: #bb3737;
$danger-active-color: #bb3737;